:root {
  --theme-bg: hsl(273, 37%, 93%);
  --theme-code-bg: #1f2937;
	--theme-code-text: #7dd3fc;
	--theme-navbar-bg: var(--theme-bg);
  --theme-code-mark-border: #4f6f9c73;
  --theme-code-mark-bg: #455c7d94;
}