.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  --tw-text-opacity: 1;
  color: rgb(244 114 182 / var(--tw-text-opacity));
}

.token.attr-name,
.token.rule,
.token.pseudo-class,
.token.important {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
}

.token.keyword {
  color: #c792ea;
  font-style: italic;
}

.token.attr-value,
.token.class,
.token.string {
  --tw-text-opacity: 1;
  color: rgb(125 211 252 / var(--tw-text-opacity));
}


.token.punctuation,
.token.attr-equals {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.token.attr-value * {
  --tw-text-opacity: 1;
  color: rgb(125 211 252 / var(--tw-text-opacity));
}

.token.attr-value .attr-equals,
.token.attr-value .attr-equals+.punctuation,
.token.attr-value>.punctuation:last-child {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.token.property {
  --tw-text-opacity: 1;
  color: rgb(125 211 252 / var(--tw-text-opacity));
}

.token.unit {
  --tw-text-opacity: 1;
  color: rgb(153 246 228 / var(--tw-text-opacity));
}

.language-shell .token:not(.comment),
.token.atapply .token:not(.rule):not(.important):not(.punctuation) {
  color: inherit;
}

.language-css .token.function {
  --tw-text-opacity: 1;
  color: rgb(153 246 228 / var(--tw-text-opacity));
}

.token.comment,
.token.module,
.token.operator,
.token.combinator {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.token.unchanged {
  display: block;
}

.token.deleted,
.token.inserted {
  display: block;
  position: relative;
  margin-left: -2.25rem;
  margin-right: -2.25rem;
  padding-left: 2rem;
  padding-right: 1.25rem;
  border-left-width: 4px;

}

.token.deleted::before,
.token.inserted::before {
  position: absolute;
  content: var(--tw-content);
  top: 0px;
  left: 1rem;
}

.token.inserted {
  background-color: rgb(45 212 191 / 0.15);
  --tw-border-opacity: 1;
  border-color: rgb(45 212 191 / var(--tw-border-opacity));
}

.token.inserted::before {
  --tw-content: '+';
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(45 212 191 / var(--tw-text-opacity));
}

.token.deleted {
  background-color: rgb(244 63 94 / 0.15);
  --tw-border-opacity: 1;
  border-color: rgb(251 113 133 / var(--tw-border-opacity));
}

.token.deleted::before {
  --tw-content: '-';
  --tw-text-opacity: 1;
  content: var(--tw-content);
  color: rgb(251 113 133 / var(--tw-text-opacity));
}

pre[class^='language-diff-'] {
  display: flex;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

pre[class^='language-diff-']>code {
  flex: none;
  min-width: 100%;
}