---
// import { Image } from '@astrojs/image/components';
import bird from "../assets/TakasakiChidori.jpg";
export interface Props {
	title: string;
	author: string;
	publishDate: string;
	heroImage: string;
	alt: string;
}

const { title, author, publishDate, heroImage, alt } = Astro.props;
---

<article class="relative pt-10">
	<h1 class="text-2xl font-extrabold tracking-tight text-slate-900 dark:text-slate-200 md:text-3xl ">
		{title}
	</h1>
	<div class="text-sm leading-6">
		<dl>
			<dt class="sr-only">Date</dt>
			<dd class="absolute top-0 inset-x-0 text-slate-700 dark:text-slate-400">
				<time datetime={publishDate}>{publishDate}</time>
			</dd>
		</dl>
	</div>
	<div class="mt-6">
		<ul class="flex flex-wrap text-sm leading-6 -mt-6 -mx-5">
			<li class="flex items-center font-medium whitespace-nowrap px-5 mt-6">
				<img  src={bird}  class=" h-9 w-9 mr-3 rounded-full bg-slate-50 dark:bg-slate-800" alt="Takasaki Chidori" />
				<div class="text-sm leading-4">
					<div class="text-slate-900 dark:text-slate-200">Takasaki Chidori</div>
					<div class="mt-1">
						<a href="https://github.com/stella100np"
							class="text-sky-500 hover:text-sky-600 dark:text-sky-400">@
							<!-- -->stella100np
						</a></div>
				</div>
			</li>
		</ul>
	</div>
	<div class="mt-12 prose  dark:prose-dark">
		<slot></slot>
	</div>
</article>